.container {
  width: 96%;
}

header h1 {
  text-align: center;
}

header h1 img {
  max-width: 50%;
}

.menu-opcoes {
  position: static;
  text-align: center;
}

.busca,
.menu-departamentos,
.destaque img {
  margin-right: 0;
  width: 100%;
}

.painel {
  width: auto;
}

.painel li {
  width: 30%;
}
.painel img {
  width: 100%;
}
